.title:before {
  background-image: url("bg.jpg");
  background-size: cover;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  max-width: 100%;
  height: 100%;
  margin-top: -18%;
  display: block;
  -webkit-filter: blur(8px);
  -moz-filter: blur(8px);
  -o-filter: blur(8px);
  -ms-filter: blur(8px);
  filter: blur(8px);
}

.title {
  height: 15%;
  width: 50%;
  margin-left: 29%;
  margin-top: 18%;
  z-index: 0;
}

.links {
  margin-left: 38%;
  margin-top: auto;
  z-index: 0;
}

a {
   color: #ff3399;
   font-size: 24pt;
   margin: 1%;
   text-decoration: none;
}

 /*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
	.title {
		height: 7%;
		width: 65%;	
		margin-left: 24%;
	}
	.links {
    margin-left: 31.5%;
    margin-top: auto;
    z-index: 0;
	}
  a {
    font-size: 3.0vw;
  }
}

/*Mobile*/
@media only screen and (max-width: 400px) {
   .title {
     height: 4%;
     width: 110%;
		 margin-left: 7%;
   }
	.links {
    display: flex;
    flex-direction: column;
    margin-left: 27.5%;
    margin-top: auto;
    z-index: 0;
	}
 }

/*Sideways*/
@media only screen and (max-height: 600px) and (min-width: 961px) {
  .title:before {
    margin-top: -10%;
  }
  .title {
    margin-top: 10%;
    height: 20%;
  }
}

/*Small sideways*/
@media only screen and (max-height: 600px) and (max-width: 960px) {
  .title {
    height: 20%
  }
}
